.category .post.type-post {
    margin-left: 85px;
    width: 513px;
}
.category-actu .posts_title a {
    color: #0066CC;
    font-size: 18px;
    text-decoration: none;
}
.entry-header {
    margin-top: -70px;
    max-width: 1040px;
    padding: 0 6px 0 19px!important;
}
.hentry {
    padding: 57px 0;
}
.entry-content {
    padding: 0 !important;
}
article {
    padding: 0!important;
    margin: 27px!important;
    border-bottom: 2px solid #c3c3c3;
}